<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ProFake</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&amp;display=swap'><link rel="stylesheet" href="./static/style.css">
<link rel="icon" type="image/png" href="../static/im.png" />
</head>
<body>
    <div class="card">
        <div class="card-img">
            <img src="../static/im.png" alt="Profile Image">
        </div>
        <div class="desc">
            <h6 class="primary-text">Welcome to ProFake</h6>
            <h6 class="secondary-text">Verify Instagram profiles with ease.<br>Stay secure and spot fakes instantly.</h6>
        </div>
        <a href="{{ url_for('predict') }}">
            <button class="primary-text buttoncolor">Check Profile</button>
        </a> 
    </div>
</body>
</html>
